<ul class="timeline">
    <%
    for(var i=0; i<events.length; i++) {
        var event = events[i];
    %>

    <li<% if(i%2) {%> class="timeline-inverted"<% } %>>
      <div class="timeline-badge <%- event.color %>"><i class="fa <%- event.icon %>"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title wow fadeIn"><%- event.name %></h4>
          <em class="wow fadeIn"><%- event.date %>, <%- event.location %></em>
        </div>
        <div class="timeline-body">
          <p class="wow fadeIn"><%- event.description %></p>
          <a class="wow fadeIn" href="<%- event.link %>">En savoir plus...</a>
        </div>
      </div>
    </li>

    <% } %>
</ul>