<!-- FOOTER -->
<footer id="footer">
	<div class="container">

		<div class="row">

			<div class="col-md-3">
				<img class="footer-logo" src="<%- url_for('img/logo-bw.png') %>" alt="" />
				<p><%= __('layout.footer.smalldesc') %></p>
				<address>
					<ul class="list-unstyled">
						<li class="footer-sprite address"><%- __('layout.footer.address') %></li>
						<li class="footer-sprite phone"><%- __('layout.footer.phone') %></li>
						<li class="footer-sprite email"><%- mail_to(__('layout.footer.mailto')) %></li>
					</ul>
				</address>
			</div>

			<%- partial('_widget/recent_posts') %>

			<div class="col-md-2">
				<h4 class="letter-spacing-1"><%= __('layout.footer.sections') %></h4>
				<ul class="footer-links list-unstyled">
		        <% for (var i in theme.menu){ if(__('menu.' + i) != ('menu.' + i)) { %>
		          <li><a href="<%- i18n_url(theme.menu[i]) %>"><%= __('menu.' + i) %></a></li>
		        <% } } %>
					<% if(__('menu.tools') != 'menu.tools') {  %>
				  <li><a href="<%- i18n_url('fr/tools') %>"><%= __('menu.tools') %></a></li>
					<% } %>
				</ul>
			</div>

			<div class="col-md-4">
				<h4 class="letter-spacing-1"><%= __('layout.footer.newsletter.title') %></h4>
				<p><label for="email-field-7341"><%= __('layout.footer.newsletter.subtitle') %></label></p>

				<form class="validate" id="mailjet-widget-form-7341" action="<%- i18n_url('fr/about/newsletter_send.html') %>" method="post" data-netlify="true" data-toastr-position="bottom-right">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" id="email-field-7341" name="email" class="form-control required" placeholder="<%= __('layout.footer.newsletter.mailfield') %>">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit"><%= __('layout.footer.newsletter.submit') %></button>
						</span>
					</div>
				</form>
				<div class="top-buffer">
					<a href="<%- theme.link.googleplus %>" class="social-icon social-icon-border pull-left" data-toggle="tooltip" data-placement="top" title="Google+">

						<i class="fa fa-google-plus"></i>
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="<%- theme.link.twitter %>" class="social-icon social-icon-border pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter"></i>
					</a>
					<a href="<%- theme.link.linkedin %>" class="social-icon social-icon-border pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="<%- theme.link.github %>" class="social-icon social-icon-border pull-left" data-toggle="tooltip" data-placement="top" title="Github">
						<i class="fa fa-github"></i>
						<i class="fa fa-github"></i>
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<ul class="pull-right nomargin list-inline mobile-block">
				<li><a href="<%- url_for('fr/about/mentions.html') %>"><%= __('layout.footer.mentions') %></a></li>
				<li><a href="<%- url_for('fr/about/mentions.html') %>"><%= __('layout.footer.mentions') %></a></li>
				<li>&bull;</li>
				<li><a href="<%- url_for('fr/about/sitemap.html') %>">Plan du site</a></li>
			</ul>
			&copy;2012 - <%= new Date().getFullYear() %> <%= config.title %>. <%= __('layout.footer.copyright') %>.
		</div>
	</div>
</footer>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "https://tyneo.net",
	"email":"contact@tyneo.net",
	"location" : {
		"@type" : "Place",
		"name" : "Tyneo Consulting",
		"address" : {
			"@type" : "PostalAddress",
			"streetAddress" : "12 rue des Bleuets",
			"addressLocality" : "Choisy Le Roi",
			"postalCode" : "94600",
			"addressCountry" : "FR"
		}
	},
	"logo": "https://tyneo.net/img/logo-tyneo.png",
	"contactPoint" : [
		{ "@type" : "ContactPoint",
		"telephone" : "+33-972322828",
		"contactType" : "sales service",
		"contactOption" : "TollFree",
		"email":"contact@tyneo.net",
		"hoursAvailable": "Mo,Tu,We,Th,Fr,Sa,Su 09:00-19:00",
		"availableLanguage" : ["French"]
		}
	],
"sameAs" : [
	"<%- theme.link.googleplus %>",
	"<%- theme.link.twitter %>",
	"<%- theme.link.linkedin %>"]
}
</script>
