<%- page.content %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-rosy">L'équipe</h2>
        </div>
    
<%
var team = site.data.team;
for(var i=0; i<team.length; i++) {
%>
		<div class="col-sm-12 col-md-6">
			<div class="block block-grey">
				<figure class="text-center"><img class="img-responsive img-circle text-center" src="<%- url_for(team[i].photo) %>" alt="" /></figure>
				<div class="caption">
					<h4 class="nomargin"><%- team[i].name %></h4>
					<small class="butter-top"><%- team[i].title %></small>
					<p><%- team[i].desc %></p>
					<% if(typeof team[i].linkedin != 'undefined') {%><a href="<%- team[i].linkedin %>" class="social-icon social-icon-border social-icon-dark">
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-linkedin"></i>
					</a><% } %>
					<% if(typeof team[i].twitter != 'undefined') {%><a href="<%- team[i].twitter %>" class="social-icon social-icon-border social-icon-dark">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter"></i>
					</a><% } %>
					<% if(typeof team[i].github != 'undefined'){ %><a href="<%- team[i].github %>" class="social-icon social-icon-border social-icon-dark">
						<i class="fa fa-github"></i>
						<i class="fa fa-github"></i>
					</a><% } %>
				</div>
			</div>
		</div>
<% } %>
      </div>
    <!-- /.row -->
</div>