<ul class="nav nav-sidebar">
	<li><a href="<%- url_for("blog/categories/Planisware/") %>"><%= __('layout.post.category.planisware') %></a></li>
	<li><a href="<%- url_for("blog/categories/Astuce/") %>"><%= __('layout.post.category.tips') %></a></li>
	<li><a href="<%- url_for("blog/categories/Caliber/") %>"><%= __('layout.post.category.caliber') %></a></li>
	<li><a href="<%- url_for("blog/categories/Communique-de-presse/") %>"><%= __('layout.post.category.press') %></a></li>
	<!--<li><a href="<%- url_for("blog/categories/Ingenierie-des-exigences/") %>"><%= __('layout.post.category.requirement') %></a></li>
	<li><a href="<%- url_for("blog/categories/Gestion-de-projet/") %>"><%= __('layout.post.category.project') %></a></li>-->
</ul>
